{% extends 'website_layout.html' %} {% block content %}
<main class="main">
    <section class="section banner-5">
        <div class="container">
            <div class="mt-65 mb-100">
                <div class="row align-items-end">
                    <div class="col-lg-6 mb-20"><span
                            class="title-line text-green wow animate__animated animate__fadeInUp"
                            data-wow-delay=".0s">Services</span>
                        <h2 class="color-brand-1 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            Building Inspection, Permitting & UDC Code Compliance Reviews</h2>
                    </div>
                    <div class="col-lg-6 mb-20">
                        <p class="font-md  wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                            Total Inspection Services proudly serves over 27 municipalities across Southern Wisconsin,
                            providing expertise in Wisconsin Uniform Dwelling Code and Commercial Building Code
                            compliance.
                        </p>
                    </div>
                </div>
                <div class="box-video-banner">
                    <div class="image-banner-5 wow animate__animated animate__fadeIn"><img
                            src="{{page_kwargs.media_url}}website/imgs/template/mck-service1.png" alt="TIS"></div>
                </div>
                <div class="box-info-video-banner">
                    <div class="box-inner-video-banner">
                        <div class="row align-items-start">
                            <div class="col-lg-5">
                                <p class="color-grey-500 font-lg wow animate__animated animate__fadeIn"
                                    data-wow-delay=".0s">Our team is highly knowledgeable in Uniform Dwelling Codes
                                    (UDC),
                                    Commercial Construction Codes, and local zoning requirements.
                                </p>
                            </div>
                            <div class="col-lg-7">
                                <div class="row align-items-stretch">
                                    <div class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                        <div class="card-small card-small-2 h-100">
                                            <div class="card-image"><a href="#">
                                                    <div class="box-image"><img
                                                            src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-ins.svg"
                                                            alt="TIS"></div>
                                                </a></div>
                                            <div class="card-info">
                                                <h6 class="color-brand-1 mb-10">Our inspectors live within the
                                                    communities we serve.</h6>
                                                <p class="font-xs color-grey-500">What sets us apart is our deep
                                                    connection to the communities we serve, ensuring personalized
                                                    service, direct communication with inspectors, and a collaborative
                                                    approach to the permitting process.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-3 mt-lg-0 wow animate__animated animate__fadeIn"
                                        data-wow-delay=".2s">
                                        <div class="card-small card-small-2 h-100">
                                            <div class="card-image">
                                                <div class="box-image"><img
                                                        src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-flag.svg"
                                                        alt="TIS">
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <h6 class="color-brand-1 mb-10">Timely Inspections</h6>
                                                <p class="font-xs color-grey-500">We are committed to helping our
                                                    clients complete their projects successfully, ensuring compliance
                                                    with all codes while keeping projects on track and on time.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section my-5 mt-100">
        <div class="container mt-50">
            <div class="row offer_bg1 align-items-end mb-50">
                <div class="col-lg-6">
                    <div class="card bg-transparent border-0 p-4">
                        <div class="card-guide border-0 bg-transparent border-bottom offer_border mb-0 rounded-0 p-0">
                            <div class="card-image bg-white p-2 py-3 rounded-3">
                                <img src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-resi.svg"
                                    alt="TIS" />
                            </div>
                            <div class="card-info pb-3">
                                <h5 class="color-brand-1 mb-15">1 & 2 Family Residential</h5>
                                <p class="font-xs color-grey-500">
                                    Our experts assess structural integrity, safety compliance,
                                    and adherence to local building codes to ensure homes meet
                                    required standards before occupancy or resale.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex border-bottom offer_border pb-4 mb-0">
                            <ul class="list-ticks list-ticks-2">
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Structural Integrity
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Safety Check
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>System Inspection
                                </li>
                            </ul>
                            <ul class="list-ticks list-ticks-2 ms-3">
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Code Compliance
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Detailed Report
                                </li>
                            </ul>
                        </div>
                        <div class=" border-bottom offer_border pb-4 mb-0">
                            <p class="fw-bold color-brand-1">Resources</p>
                            <ul class="list-dots mt-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
                                <li>New Home Resources</li>
                                <li>Remodel Resources</li>
                                <li>Learn about the process</li>
                                <li>Deck Resources</li>
                                <li>Wisconsin Uniform Building Permit Application</li>
                                <li>Frequently asked questions for residential 1&2 family homes</li>

                            </ul>
                        </div>
                        <div class="pt-4">
                            <p class="d-flex align-items-center color-grey-500"><img
                                    src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-file.svg"
                                    alt="TIS" class="pe-2" /> View all the resource for 1 & 2 Family Residential Homes
                            </p>
                            <p class="mt-4">
                                <a class="btn btn-brand-1 hover-up me-2"
                                    href="{% url 'mck_website:wb_request_inspection_page' %}"> Schedule a Home
                                    Inspection
                                </a>
                                <a class="btn btn-brand-1 hover-up me-2 mt-xl-0"
                                    href="{% url 'mck_website:wb_request_inspection_page' %}"> Apply for a permit
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-info-video pb-0">
                        <div class="img-reveal"><img class="bd-rd8 d-block"
                                src="{{page_kwargs.media_url}}website/imgs/template/mck-service2.png" alt="TIS">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row offer_bg2 align-items-end mb-50">
                <div class="col-lg-6">
                    <div class="box-info-video pb-0">
                        <div class="img-reveal"><img class="bd-rd8 d-block"
                                src="{{page_kwargs.media_url}}website/imgs/template/mck-service3.png" alt="TIS">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-transparent border-0 p-4">
                        <div class="card-guide border-0 bg-transparent border-bottom offer_border mb-0 rounded-0 p-0">
                            <div class="card-image bg-white p-2 py-3 rounded-3">
                                <img src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-resi.svg"
                                    alt="TIS" />
                            </div>
                            <div class="card-info pb-3">
                                <h5 class="color-brand-1 mb-15">Commercial</h5>
                                <p class="font-xs color-grey-500">
                                    We partner with developers to ensure their project meets the required building
                                    compliance for the Wisconsin Uniform Dwelling Code and the International Commercial
                                    Building Code.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex border-bottom offer_border pb-4 mb-0">
                            <ul class="list-ticks list-ticks-2">
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Building Site and Plan Review
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Guidance on Process and Requirements for State Approved Plans
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Consult on UDC and Commercial Code Related Questions
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Permitting and Inspections
                                </li>
                            </ul>
                        </div>
                        <div class=" border-bottom offer_border pb-4 mb-0">
                            <p class="fw-bold color-brand-1">Resources</p>
                            <ul class="list-dots mt-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
                                <li><a target="_blank"
                                        href="https://docs.legis.wisconsin.gov/code/admin_code/sps/safety_and_buildings_and_environment/361_366">SPS
                                        361-366 Links </a></li>
                                <li>Wisconsin Uniform Building Permit Application</li>
                                <li>Frequently asked questions for Commercial Building</li>
                            </ul>
                        </div>
                        <div class="pt-4">
                            <p class="d-flex align-items-center color-grey-500"><img
                                    src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-file.svg"
                                    alt="TIS" class="pe-2" /> View all Resources resources related to Commercial
                                Building</p>
                            <p class="mt-4">
                                <a class="btn btn-brand-1 hover-up me-2"
                                    href="{% url 'mck_website:wb_request_inspection_page' %}"> Schedule a Home
                                    Inspection
                                </a>
                                <a class="btn btn-brand-1 hover-up me-2 mt-xl-0"
                                    href="{% url 'mck_website:wb_request_inspection_page' %}"> Apply for a permit
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row offer_bg3 align-items-end mb-50">
                <div class="col-lg-6">
                    <div class="card bg-transparent border-0 p-4">
                        <div class="card-guide border-0 bg-transparent border-bottom offer_border mb-0 rounded-0 p-0">
                            <div class="card-image bg-white p-2 py-3 rounded-3">
                                <img src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-resi.svg"
                                    alt="TIS" />
                            </div>
                            <div class="card-info pb-3">
                                <h5 class="color-brand-1 mb-15">Zoning</h5>
                                <p class="font-xs color-grey-500">
                                    Most of the communities we work with have zoning services through the County or
                                    State. Check our clients list below to see where to apply for a zoning permit.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex border-bottom offer_border pb-4 mb-0">
                            <ul class="list-ticks list-ticks-2">
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Land Use Determination
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Permitting
                                </li>
                                <li>
                                    <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>Set-back Compliance
                                </li>
                            </ul>
                        </div>
                        <div class=" border-bottom offer_border pb-4 mb-0">
                            <p class="fw-bold color-brand-1">Resources</p>
                            <ul class="list-dots mt-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
                                <li>Frequently Asked Questions about Zoning</li>
                            </ul>
                        </div>
                        <div class="pt-4">
                            <p class="d-flex align-items-center color-grey-500"><img
                                    src="{{page_kwargs.media_url}}website/imgs/template/icons/mck-icon-file.svg"
                                    alt="TIS" class="pe-2" /> A clear and actionable inspection report will be provided
                                after the
                                assessment.</p>
                            <p class="mt-4">
                                <a class="btn btn-brand-1 hover-up me-2"
                                    href="{% url 'mck_website:wb_contact_us_page' %}">Zoning Questions? Contact
                                    Us
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-info-video pb-0">
                        <div class="img-reveal"><img class="bd-rd8 d-block"
                                src="{{page_kwargs.media_url}}website/imgs/template/mck-service4.png" alt="TIS">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section mt-80" id="id_current_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="color-brand-1 mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">Current
                        Areas & Municipalities</h4>
                    <p>What makes us different from others? We give holistic solutions with strategy, design &
                        technology.</p>
                </div>
            </div>
            <div class="mt-30">
                <ul class="list-buttons">
                    <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a
                            class="button-click active" href="#" data-type="all-show">All</a></li>
                    {% for county in area %}
                    <li class="wow animate__animated animate__fadeIn" data-wow-delay=".2s"><a class="button-click"
                            href="#" data-type="{{county.name}}"
                            onclick="show_county('{{county.name}}')">{{county.name}} County</a></li>
                    {% endfor %}
                </ul>
                <div
                    class="box-newsletter d-flex justify-content-center mx-auto box-newsletter-2 border-0 wow animate__animated animate__fadeIn">
                    <div class="form-newsletter wow animate__animated animate__fadeIn col-md-6" data-wow-delay=".3s">
                        <form action="#">
                            <input type="text" id='searchInput' onkeyup='searchText()'
                                placeholder="Search by location or zipcode">
                            <button class="btn btn-submit-newsletter d-flex text-white align-items-center" type="button"
                                onclick="searchText()">
                                <span class="d-none d-lg-block">Search</span> <svg class="w-6 h-6 icon-16 ps-2"
                                    fill="none" stroke="currentColor" viewbox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-list-blogs" id="area_service">
                {% include "includes/area_services.html" %}
                <div class="card p-3 mb-60 text-center mx-auto d-none" id="no_data">
                    No data found
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block body_script %}
<script>
    function show_county(county) {
        $('.' + county).removeClass('d-none')
    }
    function searchText() {
        const searchTerm = document.getElementById('searchInput').value.toLowerCase();
        const div = document.getElementById('area_service');
        const paragraphs = div.getElementsByTagName('p');
        let found = false;

        for (let i = 0; i < paragraphs.length; i++) {
            const paragraphText = paragraphs[i].innerText.toLowerCase();
            if (paragraphText.includes(searchTerm)) {
                paragraphs[i].parentNode.parentNode.style.display = ''; // Highlight the found paragraph
                found = true;
            } else {
                paragraphs[i].parentNode.parentNode.style.display = 'none'; // Reset background if no match
            }
        }

        if (!found) {
            $('#no_data').removeClass("d-none")
        }
        else {
            $('#no_data').addClass("d-none")
        }
    }
</script>
{% endblock %}