
<!-- city -->
     <section id="cities" class="  city-section container">
        <div class="city-container">
        <div class="city-section-head text-center">
            <h2>Popular Cities</h2>
           
            </div>

        <div class="city-grid cols-5">
            <a class="city-box city-card" href="#"><img src="https://i.pinimg.com/1200x/9e/17/f5/9e17f50aaed5d858a1bd21e1b8d0ebee.jpg" alt="City"/><span class="city-label">Vellore</span></a>
            <a class="city-box city-card" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Yelagiri_2.jpg" alt="City"/><span class="city-label">Yelagiri</span></a>
            <a class="city-box city-card" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/N-TN-C211_Monolithic_rockcut_Mahendravadi.jpg/1024px-N-TN-C211_Monolithic_rockcut_Mahendravadi.jpg" alt="City"/><span class="city-label">Ranipet</span></a>
            <!-- <a class="city-box city-card" href="#"><img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqB9sZ2TIy48b4xkHwxZxQFGa7KtrSswkGTN_1qdlYL6uG5kr74V7JonYeKSnPF_58jQlzSSAUvgzVZZfmciubf8qbUZnAxHkW4O0ynlPvCJcInEIpWZKGCFwbG7sycVupCTct7qw=w540-h312-n-k-no" alt="City"/><span class="city-label">Arcot</span></a> -->
            <a class="city-box city-card" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Chennai_Central.jpg" alt="City"/><span class="city-label">Chennai</span></a>
        </div>
        </div>
    </section>
    