<style>

</style>
<div class="dreams-area" style="background: linear-gradient(135deg, rgba(255,210,1,1.12) 0%, rgba(0,80,158,0.03) 100%);">
  <div class="container">
    <div class="dreams-row">
      <div class="dreams-title">
        <h2>Do you have any questions, doubts or enquiry?</h2>
      </div>
      <div class="abt_btn enquiry_btn">
        <ul>
          <li>
            <a href="{% url 'mck_website:property_enquiry_page' %}">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
