{% extends 'layouts/admin_layout.html' %}
{% load crispy_forms_tags %}
{% block head_css %}
<link rel="stylesheet" href="{{page_kwargs.media_url}}js/jquery.datetimepicker.min.css" />
{% endblock %}
{% block content %}

<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
  <div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
    
    <!-- Content Section -->
    <div class="header-offset"></div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
      <div id="kt_content_container" class="data-content container-fluid">
        
        <!-- Card for Form -->
        <div class="card shadow-sm border-0 rounded-lg">
          <div class="card-header bg-light border-bottom d-flex align-items-center justify-content-between">
            <h3 class="fw-bold mb-0 text-dark">
              {% if mode == "edit" %}
                Update {{name}} Details
              {% else %}
                Create {{name}} Details
              {% endif %}
            </h3>
          </div>
          
          <!-- Form Section -->
          <form method="post" novalidate class="p-5" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <!-- Render Fields with Crispy Forms -->
              <div class="row">
                {% crispy form %}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_js %}
<script src="{{page_kwargs.media_url}}js/jquery.datetimepicker.full.min.js"></script>
<script>
  $(document).ready(function(){
    // Prevent form submission on Enter key
    $(":input").keypress(function(event){
        if (event.which == '10' || event.which == '13') {
            event.preventDefault();
        }
    });
  });

$('#id_start_time').datetimepicker({datepicker:false,formatTime:"h:i a",format:'H:i:00', step:30});
$('#id_end_time').datetimepicker({datepicker:false,formatTime:"h:i a",format:'H:i:00', step:30});
$('#id_dob').datetimepicker({timepicker: false, format: 'Y-m-d',  maxDate: new Date(), scrollInput: false,  });
$('#id_start_date').datetimepicker({ timepicker: false, format: 'Y-m-d' });
$('#id_end_date').datetimepicker({timepicker: false,  format: 'Y-m-d', step: 1});
$('#id_passport_expiry_date').datetimepicker({timepicker: false, format: 'Y-m-d',  maxDate: new Date(), scrollInput: false,  });


{% if page_kwargs.function == "ResourceList" %}
$("#div_id_link").hide();
$("#div_id_document").hide();

$("#id_type_0").prop("checked", true);
$("#div_id_document").show();


$("#id_type_0").on("click", function(){
  $("#div_id_link").hide();
  $("#div_id_document").show();
});
$("#id_type_1").on("click", function(){
  $("#div_id_link").show();
  $("#div_id_document").hide();
})

{% endif%}
</script>

{% endblock %}
{% include 'mck_custom/includes/footer.html' %}
