{% extends 'layouts/admin_layout.html' %}
{% block head_css %}
<link rel="stylesheet" href="{{page_kwargs.media_url}}css/sweetalert2.min.css">
<link rel="stylesheet" href="{{page_kwargs.media_url}}plugins/DataTables/datatables.css">
{% endblock %}
{% block content %}
<div class="page-heading table_page mt-5">
  <div class="page-title">
    <div class="row ">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>{{ table_data.title }}</h3>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <div class="float-start float-lg-end">
          {% if table_data.create_url %}
          <a class="btn btn-primary btn-sm" href="{{ table_data.create_url }}">
            <i class="bi bi-plus-lg pe-2"></i>Add {{ table_data.title }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped" id="common_table1">
          <thead>
            <tr>
              {% for column in table_data.columns %}
              <th {% if column.class_name %}class="{{ column.class_name }}" {% endif %}>{{ column.display_name }}</th>
              {% endfor %}
              {% if not table_data.hide_action %}
              <th class="text-end">Actions</th>
              {% endif %}
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block body_js %}
<script src="{{ page_kwargs.media_url }}js/sweetalert2.js"></script>
<script src="{{ page_kwargs.media_url }}plugins/DataTables/datatables.js"></script>
<script>
  function delete_object(id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-primary',
        cancelButton: 'btn btn-danger me-3'
      },
      buttonsStyling: false
    });
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You want to update this!",
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'No, Cancel',
      confirmButtonText: 'Yes, Update It',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        delete_object_ajax();
      }
    });
    function delete_object_ajax() {
      $.ajax({
        type: 'POST',
        url: "{{ table_data.delete_url|safe }}".replace('0', id),
        data: {
          "csrfmiddlewaretoken": '{{ csrf_token }}'
        },
        contentType: "application/x-www-form-urlencoded",
        success: function (data) {
          window.location.reload();
        }
      });
    }
  }

  $(document).ready(function () {
    var cols = [
      {% for column in table_data.columns %}
        {
      "name": "{{ column.search_key }}",
      "orderable": true
    },
    {% endfor %}
    {% if not table_data.hide_action %}
  {
    "name": ""
  }
  {% endif %}
    ];

  var mck_table = $('#common_table1').DataTable({
    "serverSide": true,
    "ajax": {
      "url": "{{ table_data.load_url }}",
      "type": "POST",
      "data": {
        "csrfmiddlewaretoken": '{{ csrf_token }}'
      }
    },
    "order": [[0, 'desc']],
    "ordering": true,
    "columns": cols,
    "deferRender": true,
    "info": true,
    "colReorder": true
  });

  // Add event listener for the search input
  $('[data-table-filter="search"]').on('keyup', function () {
    mck_table.search($(this).val()).draw();
  });




  function update_column_visibility(column_index) {
    let column = mck_table.column(column_index);
    column.visible(!column.visible());
  }

  {% for column in table_data.columns %}
  {% if not column.can_show %}
  update_column_visibility({{ forloop.counter0 }});
  {% endif %}
  {% endfor %}
  });

</script>
{% endblock %}
{% include 'mck_custom/includes/footer.html' %}